.border-bottom-default{
    border-bottom: 1px solid #eee;
}
.border-default{
    border:1px solid #eee;
}

.border-dark-left{
    border-left:5px solid #54b;
}

.ui-border {
    &.left{
        border-left:1px solid #eee;
    }

    &.bottom{
        border-bottom: 2px solid #eee;
    }
}


.box-shadow-default{
    box-shadow: 0 1px 3px 0 rgba(27,27,27,.1)!important;
}
.border-top-grey{
    border-top:1px solid #f5f5f5!important;
}