.uk-button.google{
    background-color: #ffffff;
    padding:0 8px;
    font-family: 'Roboto',sans-serif;
    color:#2e2e2e;
    border: 1px solid #ddd;
    span{
        margin-right:16px;
    }
}

.ui-btn-dark-blue{
    background-color: #300d4f;
    color:#fff!important;
    &:hover{
        box-shadow: 0 9px 18px rgba(0,0,0,.18);
        background-color: #280b42;
    }
}

.ui-btn-white{
    background-color: #fff;
    color:#300d4f!important;
}

.btn-up:hover{
    -webkit-transform: translate3d(0,-1px,0);
    -ms-transform: translate3d(0,-1px,0);
    transform: translate3d(0,-1px,0);
}
.btn-shadow:hover{
    box-shadow: 0 9px 18px rgba(0,0,0,.18);
}

//button social
.btn-social-dark{
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 500px!important;
    background-color: #16284c!important;
    color: #fff!important;
    vertical-align: middle;
    display: inline-flex!important;
    justify-content: center;
    align-items: center;
    transition: .1s ease-in-out;
    transition-property: color,
    background-color;
}
.btn-social-dark.facebook:hover{
    background-color: #3B5998!important;
}
.btn-social-dark.twitter:hover{
    background-color: #1da1f2!important;
}

//dataTable Button
.dt-button{
    cursor: pointer;
    margin: 0;
    border: none;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    display: inline-block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    -webkit-transition-property: color, background-color, border-color;
    transition-property: color, background-color, border-color;
    background-color: tomato;
    color:#fff;
}