.border-bottom-title{
    text-transform: uppercase;
    color: #34323b;
    letter-spacing: -1px;
    position: relative;
    font-weight: 800;
    font-family: Open Sans,sans-serif;
    line-height: 1;
}
.border-bottom-title::after{
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 2px;
    bottom: -1.5rem;
    left: calc(50% - 1.25rem);
    background-color:  #34323b;
}
.text-300{
    font-weight: 300;
}
.text-red{
    color:#e76e6e;
}
.text-white{
    color:#fff!important;
}

//size
.size-16{
    font-size:16px;
}

.size-24{
    font-size:24px;
}
.size-2r{
    font-size:2rem;
}
.size-3r{
    font-size: 3rem;
}