$global-font-family:'Source Sans Pro',"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
$global-color:#5a5665;
$card-default-background:#fff;
$navbar-background:#fff;
$navbar-nav-item-height: 60px;
$form-background:#fff;
$border-rounded-border-radius: 8px;