//welcome
.welcome-cover{
    background: linear-gradient(270deg, #48367d 0%, #241842 100%);
}

.fixed-submit-button {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 0 -1px 3px 0 hsla(0,0%,80%,.5);
    box-shadow: 0 -1px 3px 0 hsla(0,0%,80%,.5);
    z-index: 88;
}

div.ck-editor__editable {
    min-height: 200px;
    overflow: scroll
}
.uk-icon-button.user-icon{
    height: 45px;
    width: 45px;
    border: 1px solid #eee;
}
//bg
.bg-blur{
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

//nav stisla
.main-sidebar .sidebar-menu li a.active {
    color: #6777ef;
    font-weight: 600;
    background-color: #fcfcfd;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li > a.active {
    padding-left: 16px;
    background-color: transparent;
    position: relative;
}

body:not(.sidebar-mini) .sidebar-style-2 .sidebar-menu > li > a.active:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    width: 4px;
    background-color: #6777ef;
}

body.sidebar-mini .main-sidebar .sidebar-menu > li > a.active {
    box-shadow: 0 4px 8px #acb5f6;
    background-color: #6777ef;
    color: #fff;
}

.ui-management-nav{
    a.active{
      color:#393043;  
    }
}

.ui-card-link:hover{
    text-decoration: none;
}

.all-h3-bold{
    h3{
        font-weight: bold;
    }
}
.p-100{
    padding-bottom:100px;
}
//padding
.no-p-b{
    padding-bottom:0!important;
}

//purchase
.purchase-list{
    li {
        padding: 10px 20px!important;
    }
}