.ui-btn-pink{
    background: #fa2583;
    color:#fff!important;
    &:hover{
        background: #dc3e83;
    }
}

.ui-btn-yellow-grad{
    background-image: linear-gradient(-135deg, #47688f 0%, #465d98 100%);
    background-image: -webkit-linear-gradient(-135deg, #47688f 0%, #465d98 100%);
    color:#fff!important;
}

.border-80{
    border-radius: 80px !important;
}

@mixin hook-button(){
    font-family: Lato,sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin hook-button-small {
    font-size:11px;
}