@mixin hook-form-misc {
    //grey
    .uk-input.grey, .uk-textarea.grey ,.uk-select.grey{
        background: #f1f5f8;
        color:#606f7b;
        border: 1px solid #eee;
    }
    .uk-input.grey:focus,
    .uk-select.grey:focus,
    .uk-textarea.grey:focus {
        outline: 0;
        background-color: #fff;
        color: $form-focus-color;
        border-color: #6ba1ca;
    }
    .uk-input,
    .uk-select:not([multiple]):not([size]) {
        height: 50px;
        vertical-align: middle;
        display: inline-block;
    }
    .uk-input.bottom-line,.uk-textarea.bottom-line,.uk-select.bottom-line{
        background: #fff;
        border-width: 0 0 2px 0 ;
        padding:0;
    }
}